<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pt-BR" lang="pt-BR">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Delivery Network Webservice</title>
		<script src="js/angular.min.js" type="text/javascript"></script>
		<script src="js/angular-resource.min.js" type="text/javascript"></script>
		<script src="js/module.js" type="text/javascript"></script>
		<script src="js/resources.js" type="text/javascript"></script>
		<script src="js/controller.js" type="text/javascript"></script>
		<link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
	</head>
	<body ng-app="SmartDelivery">
		<div ng-controller="WebServiceController" class="panel-body">
			<h2 class="panel-title">Delivery Network Webservice - test</h2>
			<br />
			<label>Origen:</label>
			<input type="text" class="form-control small" ng-model="origin">
			<label>Destino:</label>
			<input type="text" class="form-control small" ng-model="destination">
			<label>Valor do litro:</label>
			<input type="text" class="form-control small" ng-model="litre_value">
			<br />
			<button type="button" class="btn btn-primary" ng-click="calculate_route()">Calcular</button>
			<br />
			<div class="panel" ng-show="routes.length">
				Melhor Rota: <br />
				Custo Total: 
			</div>
		</div>
	</body>
</html>